body {
    background-image: url("/assets/images/background.jpg");  /* 背景图片路径 */
    background-size: cover;  /* 图片覆盖整个屏幕 */
    background-position: center center;  /* 背景居中 */
    background-attachment: fixed;  /* 背景固定 */
    font-family: Arial, sans-serif;  /* 设置字体 */
    color: #ffffff;  /* 设置文字颜色 */
}
/* 将头像固定在页面右上角 */
.avatar {
    position: fixed;  /* 固定定位 */
    top: 30px;        /* 距离顶部 10px */
    right: 100px;      /* 距离右侧 10px */
    width: 100px;      /* 头像宽度 */
    height: 100px;     /* 头像高度 */
    border-radius: 20%; /* 圆形边框 */
    border: 2px solid #ffffff;  /* 边框颜色和宽度 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /* 为头像添加阴影效果 */
    z-index: 1;             /* 确保头像显示在最上层 */
}
a {
    color: white;
}
a:visited {
    color: white; 
}
/* 隐藏页眉页脚 */
header .view a {
    display: none;  /* 隐藏 GitHub Profile 链接 */
}
footer small {
    display: none;  /* 隐藏具体的版权信息 */
}
footer {
    position: fixed;  /* 固定定位 */
    bottom: 50px;  
    text-align: center;
    color: white;
    font-size: 18px;
    font-style: italic;
  }
